<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.toeic.mapper.ExamMapper">
	<select id="getAnmoWordListByMid" resultType="WordDTO">
		select 
		vno, tbl_exam_detail.wno wno, word, meaning, img, sentence
		from
			(select 
				* 
			from 
				tbl_exam_detail
			where 
				dno > 0 and 
				mid = #{mid} and 
				eno = #{eno} and
			result = 'waiting') tbl_exam_detail
		Left join 
		    tbl_word
		on tbl_exam_detail.wno = tbl_word.wno
	</select>
	
	
	<select id="getNormalReviewWordListByMid" resultType="WordDTO">
		select 
		vno, tbl_review_detail.wno wno, word, meaning, img, sentence
		from
			(select 
				* 
			from 
				tbl_exam_detail 
			where 
				result = 'x' and mid = #{mid} 
			order by 
				dno) tbl_review_detail
		Left join 
			tbl_word
		on tbl_review_detail.wno = tbl_word.wno
	</select>
	
	<select id="getReviewWordListByMid" resultType="WordDTO">
		select 
			vno, tbl_review_detail.wno wno, word, meaning, img, sentence
		from
		(
			select 
				dno, wno
			from 
				tbl_exam_detail
			where 
				dno > 0 and result = 'x' and mid = #{mid}
			having 
			(case when (select result from tbl_exam where eno = #{examPointer}) = 0 then
				(dno >= (select dno from tbl_exam_detail where wno = (select startpoint from tbl_exam where eno = #{examPointer} and type = 'review') and mid = #{mid} order by dno)) 
			else
				(dno > (select dno from tbl_exam_detail where wno = (select startpoint from tbl_exam where eno = #{examPointer} and type = 'review') and mid = #{mid} order by dno)) 
			end)
		) tbl_review_detail
		Left join 
			tbl_word on tbl_review_detail.wno = tbl_word.wno
	</select>
</mapper> 